@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
/*
=============================
           FOR ALL
=============================
*/
body{
    font-family: 'Roboto', sans-serif;
}
section .container-fluid .row [class*='col-']{
    z-index: 2;
}
section{
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,1);
}
/*
=============================
           HEADER
=============================
*/
#header-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("./images/1.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
}
#header-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("./images/pixel.png");
    background-position: center;
    background-repeat: repeat;
    z-index: 1;
}
#badas{
    font-family: 'Gloria Hallelujah', sans-serif;
    color: white;
    font-size: 20px;
    transform: rotate(-10deg);
    text-shadow: 1px 1px rgba(0,0,0,0.6);
    margin-right: 130px;
}
#badas img{
    transform: rotate(-20deg);
    margin-right: -30px;
}

/*
=============================
           LA MOS
=============================
*/
#lamos{
    background-color: #f5f5f5;
}
#lamos span{
    font-size: 60px;
    color: black;
    line-height: 100px;
    height: 100px;
    width: 100px;
    background-color: #0098D3;
    border-radius: 100%;
    transition-duration: 0.3s;
}
#lamos p{
    text-align: center;
    font-size: 15px;

}
#lamos span:hover{
    transform: rotate(360deg);
    background-color: transparent;
    transition-duration: 0.8s;
}
#lamos .alert{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
#lamos h2{
    max-width: 100%;
    word-wrap: break-word;
}
/*
=============================
         Evenements
=============================
*/
#evenements{
    background-color: black;
    position: relative;
}
#evenements-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("./images/1.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
}
#evenements-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("./images/pixel.png");
    background-position: center;
    background-repeat: repeat;
    z-index: 1;
}

/*
=============================
        PROG / EVO
=============================
*/
#progevo{
    background-color: #f5f5f5;
}
.progress {
    position: relative;
    height: 25px;
}
.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}
.progress-bg{
    padding: 25px;
}
#progevo p{
    padding: 20px;
}
.programme{
    text-align: center;
    color: rgba(0,0,0,0.9);
    font-size: 80px;
    font-family: "Roboto", sans-serif;
}

/*
=============================
         ZOOM PHOTO
=============================
*/

#zoomPhoto .modal-body{
    padding: 0;
}
@media (min-width: 1200px){
    #zoomPhoto .modal-dialog{
        width: 50%;
    }
}

/*


/*
=============================
         PROEJCTS
=============================
*/

#projects{
    background-color: black;
    position: relative;
}
#projects-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("./images/2.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
}
#projects-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("./images/pixel.png");
    background-position: center;
    background-repeat: repeat;
    z-index: 1;
}
#projects h3, #projects h2{
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
#projects .col-md-6{
    background-color: rgba(0,0,0,0.6);
}
#iframe-map{
    position: absolute;
    width: 100%;
    height: 350px;
    z-index: 2;
    bottom: 0;
}
#projects iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/*
=============================
       CONTACT / FAQ
=============================
*/
#contactfaq{
    background-color: #f5f5f5;
}
.panel-default{
    position: relative;
}
.panel{
    margin-top: 20px !important;
}
.panel-heading span{
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 95%;
    color: rgba(0,0,0 0.4) !important;
    font-size: 18px;
    line-height: 22px;
    transform: rotate(180deg);
    transition-duration: 0.4s;
}
.panel-heading.collapsed span{
    transform: rotate(0deg);
    transition-duration: 0.4s;
}
#contactfaq .collapse p, #contactfaq .collapsing p{
    padding: 15px;
    font-size: 14px;
}
#contactfaq h2{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
}
/*
=============================
        FORM CONTACT
=============================
*/
.field-group {
    padding-top: .2em;
    padding-bottom: .2em;
    overflow: hidden;
    border-radius: 0;
}
.field {
    width: 100%;
    border: 2px solid #272727;
    padding: 0 0 0 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    resize:none;
    border-radius: 0;
    transition-duration: 1s;
    margin-top: 10px;
}
.field:focus{
    border: 2px solid #ffffff;
    transition-duration: 1s;
}

/*
=============================
         PARTENAIRES
=============================
*/
#partenaires{
    background-color: black;
    position: relative;
}
#partenaires-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("./images/2.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
}
#partenaires-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("./images/pixel.png");
    background-position: center;
    background-repeat: repeat;
    z-index: 1;
}
#partenaires-gray{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 3;
}
#partenaires h2{
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
}
.nopaddingmargin{
    width: 100%;
    margin: 0;
    padding: 0;
}
#partenaires marquee{
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
}
#partenaires marquee img{
    display: inline-block;
    margin-right: 15px;
    height: 150px;
    background-color: white;
    border: solid 2px rgba(0,0,0,0.8);
}
#partenaires p{
    color: white;
    background-color: rgba(0,0,0, 0.4);
    padding: 20px;
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
}

/*
=============================
            FOOTER
=============================
*/

.footer {
    background-color: black;
    height: auto;
    padding-bottom: 5px;
    position: relative;
    width: 100%;
    border-bottom: 2px solid #0098D3;
    border-top: 4px solid #0098D3;
}
.footer p {
    margin: 0;
}
.footer h3 {
    border-bottom: 1px solid #0098D3;
    color: #dddddd;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 5px 0 5px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 5px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a, .footer-bottom a{
    color: white;
}
.footer-bottom {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 0;
}
#social a{
    display: inline-block;
    margin-right: 15px;
    font-size: 25px;
    transition-duration: 0.4s;
}
#social a:hover{
    color: #0098D3;
    transition-duration: 0.4s;
}

/*
=============================
           NAVBAR
=============================
*/
.navbar-custom{
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.7);
}
.navbar-custom .navbar-right{
    margin-right: 30vh;
}
.navbar-custom a{
    box-shadow:inset 0 -4px #0098D3;
    transition-duration: 0.3s;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: transparent !important;
}
.navbar-custom a:hover{
    box-shadow:inset 0 4px #0098D3;
    transition-duration: 0.3s;
    color: #0098D3;
}
.navbar-custom .active a{
    box-shadow:inset 0 4px #0098D3;
    transition-duration: 0.3s;
    color: white;
}
.navbar-custom li{
    padding-right: 10px;
}
.navbar-custom li:last-child{
    padding-right: 0;
}
.navbar-toggle{
    border: solid 1px white !important;
    color: white !important;
    border-radius: 0 !important;
}
.navbar-toggle > span{
    border: solid 1px white !important;
    color: white !important;
    border-radius: 0 !important;
}
@media (max-width: 768px) {
    .navbar-custom .navbar-right{
        margin-right: 0;
    }
    .navbar-custom a{
        box-shadow:none;
    }
    .navbar-custom li{
        padding-right: 0;
    }
}
@media (max-width: 1100px) {
    .navbar-right{
        margin-right: 10px !important;
    }
}
@media (max-width: 856px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/*
=============================
           BOUTON
=============================
*/

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
.btnStop{
    background-color: transparent;
    border: solid 2px white;
    color: white;
    position: absolute;
    right: 25px;
    bottom: 15px;
    box-shadow: 0 2px 5px 0 #656565;
    z-index: 3;
}
.btnPlay{
    background-color: transparent;
    border: solid 2px white;
    color: white;
    position: absolute;
    position: absolute;
    right: 60px;
    bottom: 15px;
    box-shadow: 0 2px 5px 0 #656565;
    z-index: 3;
}
.btnHeader{
    background-color: rgba(0,0,0,0.6);
    border: solid 2px rgba(0,0,0,0.6);
    color: white;
    box-shadow: 0 2px 5px 0 black;
    font-size: 25px;
    border-radius: 0;
    line-height: 50px;
}

/*
=============================
        ALERT CUSTOM
=============================
*/
.alert {
    background-image: none;
    border: none;
    border-radius: 0;
    color: black;
    font-size: larger;
    text-align: center;
    margin: 0;
}
.alert-danger{
    background-color: #e74c3c;
}
.alert-warning{
    background-color: #e67e22;
}
.alert-info{
    background-color: #3498db;
}
.alert-succes{
    background-color: #2ecc71;
}

/*
=============================
            MODAL
=============================
*/

#modalCopyright{
    text-align: center;
}

#modalCopyright img{
    height: 50px;
    width: auto;
    border-radius: 100%;
    margin: 5px 0 5px;
}
#modalCopyright h3{
    font-family: 'Gloria Hallelujah', sans-serif;;
    font-size: 35px;
    color: #0098d3;
    border-bottom: solid 2px #0098d3;
    border-top: solid 2px #0098D3;
}
#modalCopyright p{
    font-family: 'Gloria Hallelujah', sans-serif;
    font-size: 15px;
}
#modalCopyright .modal-body{
    padding-bottom: 0;
}
#modalCopyright .modalFooter-titre{
    text-transform: uppercase;
    font-size: 20px;
    margin: 5px;
}


/*
=============================
          EVENTS
=============================
*/

.event-list {
    list-style: none;
    margin: 0;
    padding: 0;
    transition-duration: 0.4s;
}
.event-list:hover{
    transform: scale(1.05);
    transition-duration: 0.4s;
}
.event-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(51, 51, 51);
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.7);
    padding: 0;
    margin: 0 0 20px;
}
.event-list > li > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 152, 211);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
    background-color: rgb(165, 82, 167);
}
.event-list > li > time > .day {
    display: block;
    font-size: 24pt;
    font-weight: 100;
    line-height: 1;
}
.event-list > li time > .month {
    display: block;
    font-size: 18pt;
    font-weight: 900;
    line-height: 1;
}
.event-list > li > img {
    width: 100%;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0;
}
.event-list > li > .info > .desc {
    font-size: 10pt;
    font-weight: 300;
    margin: 0;
}
.event-list > li > .info > ul,
.event-list > li > .info > ul > li,
.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}
.event-list > li > .info > ul > li:hover,
.event-list > li {
    position: relative;
    display: block;
    width: 100%;
    height: 80px;
    padding: 0;
}
.event-list > li > time,
.event-list > li > img  {
    display: inline-block;
}
.event-list > li > time,
.event-list > li > img {
    width: 80px;
    float: left;
}
.event-list > li > .info {
    background-color: rgb(245, 245, 245);
    overflow: hidden;
}
.event-list > li > time,
.event-list > li > img {
    width: 120px;
    height: 80px;
    padding: 0;
    margin: 0;
}
.event-list > li > .info {
    position: relative;
    height: 80px;
    text-align: left;
    padding-right: 40px;
}
.event-list > li > .info > .title,
.event-list > li > .info > .desc {
    padding: 0 10px;
}
.event-list > li > .info > ul {
    position: absolute;
    left: 0;
    bottom: 0;
}

/*
=============================
    SETTINGS FOR SECTION
=============================
*/

#header .row{
    padding-top: 60vh;
}
#lamos .row:first-child{
    padding-top: calc(5vh + 50px);
}
#evenements .row:first-child{
    padding-top: 20vh;
}
#contactfaq .row:first-child{
    padding-top: 30vh;
}
#partenaires .row:first-child{
    padding-top: 30vh;
}
#progevo .row:first-child{
    padding-top: 10vh;
}
#projects .row:first-child{
    padding-top: 15vh;
}